body {
    font-family: 'poppins', 'inter', sans-serif;
    overflow-x: auto;
}
/* Nav start */
nav {
    color: white;
    background-color: black;
}
nav a {
    color: white;
    font-weight: 600;
}
nav #start {
    font-size: large;
}
a#start {
    background-color: #ED661F;
}
/* Nav end */
