/* nav start */
nav {
    height: 12vh;
    display: flex; 
    justify-content: space-between;
    padding: 3.8vh 3vw;
}
nav h1 {
    font-size: 2.5vw;
    margin-top: 6vh;
}
nav ul {
    color: green;
    display: flex;
    padding-top: 3vh;
}
nav li {
    padding: 1.8vh 1.2vw;
    list-style: none;
    font-size: 1.5vw;  
}
nav a {
    text-decoration: none;
}
a#start {
    font-size: 1.5vw;
}
li.start:hover {
    border: 2px inset #ED661F;
}
ul.underline a:hover, a.underline:hover {
    border-bottom: 2px solid #ED661F;
}
li.start {
    text-align: center;
    width: 10vw;
    height: 3vh;
    margin-left: 2vw;    
}
/* nav end */

/* Div.background start */
.background {
    background: url(../images/image\ 1.png) no-repeat;
    height: 100vh;
    background-size:100vw 100vh;
}
.background img {
    position: absolute;
    right: 6vw;
    top: 36vh;
    width: 49vw;
    height: 40vh;
}
.background h1 {
    padding-top: 28vh;
    position: relative;
    left: 5vw;
    word-spacing: .6vw;
    letter-spacing: .6vw;
    line-height: 1.5em;
    font-size: 4vh;
}
.background p {
    position: relative;
    left: 5vw;
    font-size: 1.39vw;
    margin-right: 3vw;
    padding-top: 3vh;
}
.background a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: white;
    padding: 3.5vh 2vw;
    position: relative;
    top: 5vh;
    left: 5vw;
    height: 2.5vh;
    width: 8vw;
}
.background a:hover {
    border: 4px solid #ED661F;
}
.stats {
    background-color: white;
    font-weight: bold;
    width: 54vw;
    height: 0vh;
    position: absolute;
    left: 34%;
    bottom: -20vh;
    border: 1px solid lightgrey;
    border-bottom: 5px solid lightgray ;
    padding-bottom: 10%;
    font-size: smaller;
}
.stats div {
    display: flex;
    text-align: center;
}
/* Div.background-img end */

/* Div.purpose start */

div.purpose {
    margin-top: 15vh;
    margin-left: 5vw;
}
span {
    border-bottom: 4px solid #ED661F;
}
.purpose p {
    font-size: 1.39vw;
    word-spacing: 0.3em;
    width: 45vw;
    text-align: left;
}
.purpose img {
    width: 50%;
    height: 50vh;
    position: absolute;
    right:5vw;
    top: 122vh;
}
/* Div.purpose end */

/* Div#products start */
div#products {
    margin: 30vh 5vw 0;
}
#products .center {
    text-align: center;
    margin-bottom: 10vh;
}
#products p {
    font-size: 1.39vw;
}
.popular, .newest {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}
.popular img, .newest img {
    width: 20vw;
    display: block;
}
p.price {
    font-weight: 600 ;
}
.newest {
    margin-bottom: 5vh;
}
/* Div.products end */

/* Div.see-all */
div.see-all img {
    width: 5vw;
    height: 1.6vh;
}
div.see-all a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.39vw;
    word-spacing: .7vw;
    margin-right: 1.3vw;
}
div.see-all {
    position: relative;
    left: 76.5vw;
}
/* Div.see-all end */

/* Div.border start */
div.border { 
    height: 2vh;
    margin: 6vh 0;
    border: inset;
}
/* Div.border end */

/* Div.customers start */
div.reviews {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
}
.reviews div {
    border: 1px outset lightgrey;
    min-width: 23%;
    min-height: 50vh;
    text-align: center;
    padding-left: 2vw;
    margin-bottom: 10vh;
}
.reviews img {
    width: 2.5vw;
    height:5vh ;
    position: relative;
    top: 1.5vh;
    left: .1vw;
}
.reviews h2 {
    margin-top: 10vh;
}
img.g-star {
    width:4vw ;
    height: 9vh;
    position: relative;
    top: 3.5vh;
}
img.star {
    margin-top: 4vh;
}
.reviews p {
    font-weight: bold;
    margin-top: 5vh;
}
.reviews p.lower {
    margin-top: 8vh;
}
/* Div.customers end */

/* Div.subscription start */
.subscription {
    margin-top: 10vh;
    padding: 10vh 0;
    text-align: center;
    height: 25vh;
}
input {
    width: 18vw;
    height: 6vh;
    font-weight: 900;
    font-size: large;
    text-align: center;
    padding-top: 0.5vh;
}
 span.link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    width: 10vw;
    height: 4.2vh;
    padding-top: 2.5vh;
    padding-bottom: .6vh;
}
span a {
    text-decoration: none;
    font-size: 1.39vw;
}
span.link:hover {
    border: 5px outset #ED661F;
}
/* Div.subscription end */

/* Div.contact start */
div.contact {
    display: flex;
    margin-top: 2vh;
    height: 60vh;
}
div.contact div {
    padding-top: 15vh;
    width: 15%;
}
div.contact div.socials {
    width: 50vw;
    padding-left: 5vw;
}
.contact img {
    width: 2vw;
    height: 4vh;
    border-radius: 50%;
}
.contact img.store {
    width: 8vw;
    height: 7vh;
    border-radius: 8%;
}
.contact img.two {
    position: relative;
    top: .1vh;
}
span.footer {
    color: white;
    display: inline-block;
    width: 100vw;
    height: 8vh;
    border-bottom: 0px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
}
.contact p {
    font-size: 1.39v;
}
.contact div.others {
    margin-right: 5vw;
}
/* Div.contact end */